<html>

<head>
  <title></title>
</head>

<body>
  <ol>
  <!--list of artists goes here-->
    <li><a href="<%= artist.url %>">Adele (1 song)</a></li>
    <li><a href="azealiabanks.html">Azealia Banks (2 songs)</a></li>
  </ol>
</body>

</html>


