<html> 

<head>
  <title></title>
</head>

<body>
  <ol>
  <!--list of artists goes here-->
    <% Artist.all.each do |artist| %>
    <li><a href="artists/<%= artist.url %>"><%= artist.name %></a></li>
    <% end %>
  </ol>
</body>

</html>


